.Content {
    margin-top: 72px;
}

.logo {
    color: #ed3237;

    font-size: 30px;
    padding: 7px;

    font-size: bold;
    font-weight: bold;
    margin-left: 6rem;
}

@media screen and (max-width: 812px) and (min-width: 340px) {
    .logo {

        margin-left: 0rem;
    }
}